[Unit]
Description=Fessbox Configurator
#After=network.target
After=asterisk.service

[Service]
Type=simple
User=fconf
ExecStartPre=/usr/bin/sh -c "/usr/bin/rm -f /dev/*.im?i"
ExecStart=/usr/bin/fconf -c /etc/fconf/fconf.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=fconf.service

